name: "KubeOne"

on:
  push:
    branches:
      - main

jobs:
  test:
    name: "Test KubeOne"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["v1.3.2", "master", "v1.0.0"]
    steps:
      - name: Kubeone
        id: kubeone
        uses: cedi/gh-action-kubeone@main
        with:
          version: ${{ matrix.version }}
          command: version

      - name: Print version
        shell: bash
        run: echo "KubeOne Version is ${{ steps.kubeone.outputs.version }}"

  test2:
    name: "Test KubeOne"
    runs-on: ubuntu-latest
    steps:
      - name: Kubeone
        id: kubeone
        uses: cedi/gh-action-kubeone@main
        with:
          command: version

      - name: Kubeone 2nd time
        uses: cedi/gh-action-kubeone@main
        with:
          command: version

      - name: Print version
        shell: bash
        run: echo "KubeOne Version is ${{ steps.kubeone.outputs.version }}"